extends layout

block script
    script.
        var config = !{JSON.stringify(config)}
        var types = !{JSON.stringify(Object.keys(config.components))}
    script(src="/js/index.js")
    script(src="/ace-builds/src-noconflict/ace.js")
    script(src="/socket.io/socket.io.js")
block content
    #app.row(ng-controller="configCtrl")
        #board.col-md-9
            component(
                ng-repeat="(key,item) in config.components",
                ng-title="{{key}}",
                ng-type="{{item.type}}",
                ng-segues="item.segues",
                ng-edit-connection="beginEditSegue($connection,$segue)"
            )
        #panel.col-md-3
            div.panel.panel-default
                div.panel-heading Operation
                div.panel-body
                    a.btn.btn-warning(ng-click="runJob()") Run
                    a.btn.btn-warning(ng-click="stopJob()",style="margin-left:10px") Stop
            div.panel.panel-default
                div.panel-heading PageProccesor
                div.panel-body
                    form.form-horizontal(role="form",name="addProcessorForm")
                        fieldset
                            .form-group
                                lable.col-sm-2.control-label name:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter Name",ng-model="pageProcessorToAdd.name",ng-required="true")
                             .form-group
                    a.btn.btn-warning(ng-click="addPageProcessor()",ng-disabled="!addProcessorForm.$valid") Add 
            div.panel.panel-default
                div.panel-heading ConsoleAdaptor
                div.panel-body
                    form.form-horizontal(role="form",name="addConsoleForm")
                        fieldset
                            .form-group
                                lable.col-sm-2.control-label name:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter Name",ng-model="consoleAdaptorToAdd.name",ng-required="true")
                             .form-group
                    a.btn.btn-warning(ng-click="addConsoleAdaptor()",ng-disabled="!addConsoleForm.$valid") Add     
            div.panel.panel-default
                div.panel-heading MongodbAdaptor
                div.panel-body
                    form.form-horizontal(role="form",name="addMongodbForm")
                        fieldset
                            .form-group
                                lable.col-sm-2.control-label name:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter Name",ng-model="mongodbAdaptorToAdd.name",ng-required="true")
                            .form-group
                                lable.col-sm-2.control-label host:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter DB Host",ng-model="mongodbAdaptorToAdd.dbConfig.host",ng-required="true")
                            .form-group
                                lable.col-sm-2.control-label port:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter DB Port",ng-model="mongodbAdaptorToAdd.dbConfig.port",ng-required="true")
                            .form-group
                                lable.col-sm-2.control-label db:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter DB Name",ng-model="mongodbAdaptorToAdd.dbConfig.db",ng-required="true")
                            .form-group
                                lable.col-sm-2.control-label col:
                                div.col-sm-10
                                    input.form-control(type="text",placeholder="Enter Collection",ng-model="mongodbAdaptorToAdd.dbConfig.collection",ng-required="true")
                    a.btn.btn-warning(ng-click="addMongodbAdaptor()",ng-disabled="!addMongodbForm.$valid") Add       
        #editor.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title Edit Segue
                    .modal-body
                        form.form-horizontal(role='form')
                            .form-group
                                .col-sm-12
                                    #segue-func.form-control(style='height:200px;font-size:14px;', placeholder='')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') cancel
                        button.btn.btn-danger(type='button',ng-click='deleteSegue()', data-dismiss='modal') delete
                        button.btn.btn-warning(type='button',ng-click='updateSegue()' data-dismiss='modal') confirm


