extends layout

block script
    script.
        var config = !{JSON.stringify(config)}
        var types = !{JSON.stringify(Object.keys(config.components))}
    script(src="/js/index.js")

block content
    #app.row(ng-controller="configCtrl")
        #board.col-md-9
            component(
                ng-repeat="(key,item) in config.components",
                ng-title="{{key}}",
                ng-type="{{item.type}}",
                ng-segues="item.segues",
                ng-edit-connection="doSth($connection,$segue)"
            )
        #panel.col-md-3
            form.form-inline(role="form")
                .form-group
                    input#new-component-name.form-control(placeholder="Enter Name",ng-model="nameToAdd")
                    select.form-control(ng-model="selectedType")
                        option(ng-repeat="item in types",value="{{item}}") {{item}}
                #new-component-btn.btn.btn-success(ng-click="addConfig()") add
        #editor.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Edit Segue
                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-sm-2.control-label(for='inputEmail3') function:
                            .col-sm-10
                                textarea#segue-func.form-control(style='height:200px', placeholder='')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') cancel
                    button#delete-segue-btn.btn.btn-danger(type='button', data-dismiss='modal') delete
                    button#update-segue-btn.btn.btn-primary(type='button', data-dismiss='modal') confirm


